<div _ngcontent-cib-c1 class="login-div" style="text-align: center">
    <h1> Registrar Presidente</h1>

    <form [formGroup]="registropForm">
        <input type="hidden" formControlName="uid">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input class="oracion" matInput type="text" placeholder="Nombres" [(ngModel)]="datosPresidente.nombres"
                #nombres formControlName="nombres">
                <mat-error *ngIf="registropForm.invalid" style="font-size: 10px ;">{{msgValidateNombre()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input class="oracion" matInput type="text" placeholder="Apellidos" [(ngModel)]="datosPresidente.apellidos"
                #apellidos formControlName="apellidos">
                <mat-error *ngIf="registropForm.invalid" style="font-size: 10px ;">{{msgValidateApellido()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" placeholder="Correo electrónico" [(ngModel)]="datosPresidente.email"
                #email formControlName="email">
                <mat-error *ngIf="registropForm.invalid" style="font-size: 10px ;">{{msgValidateEmail()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" [(ngModel)]="datosPresidente.clave"
                #clave formControlName="clave">
                <mat-error *ngIf="registropForm.invalid" style="font-size: 10px ;">{{msgValidateClave()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cédula</mat-label>
            <input matInput type="text" placeholder="Cédula" [(ngModel)]="datosPresidente.cedula" #cedula formControlName="cedula">
            <mat-hint align="start"><strong>*mínimo 8 caracteres</strong> </mat-hint>
            <mat-error *ngIf="registropForm.invalid" style="font-size: 10px ;">{{msgValidateCedula()}}</mat-error>
        </mat-form-field>        
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>--Seleccione Provincia--</mat-label> 
            <!--<mat-select [(ngModel)]="SelectedProvincia.id" (change)="onSelect($event.target.value)"> acabo de agregar la funcion change-->
            <mat-select [(ngModel)]="datosPresidente.nomProvincia" #nomProvincia formControlName="nomProvincia">
                <!--provincias esta declarado en registrop.component.ts como arrays vacios y aca lo estoy utilizando-->
                <mat-option *ngFor="let provincia of provincias" value={{provincia.nomProvincia}}>
                    {{provincia.nomProvincia}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registropForm.get('nomProvincia')?.hasError('required')" style="font-size: 10px ;">
                Seleccione la provincia</mat-error>
        </mat-form-field>    
        <br>
        <br>
        <button mat-raised-button class="btnIngresar" color="primary" (click)="RegistrarP()"
        [disabled]="registropForm.invalid"  type="submit">Guardar</button>
        <button mat-raised-button color="warn" mat-dialog-close="" style="margin-left: 20px;">Cancelar</button>
    </form>
</div>