<app-tabs></app-tabs>
<!--<div style="padding: 20px 30px;">
    <div>
        <button mat-raised-button color="primary" style="text-align: center;" (click)="OpenDialog()">
            <mat-icon>add</mat-icon> Nuevo Directivo
        </button>
        <mat-form-field style="width: 20%; margin-left: 65%;">
            <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">search</mat-icon>
            <input matInput placeholder="Búsqueda Usuario" name="filterCargo" [(ngModel)]="filterCargo" hidden>
            <input matInput placeholder="Búsqueda Usuario" name="filterUsuario" [(ngModel)]="filterUsuario">
            
        </mat-form-field>
    </div>
</div>
<div style="padding: 20px 30px; text-align: center;">
    <table>
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Cédula</th>
                <th>Cargo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios | filter: filterUsuario |filter: filterCargo" >
                <td>{{usuario.nombres|titlecase}}</td>
                <td>{{usuario.apellidos|titlecase}}</td>                
                <td>{{usuario.email}}</td>
                <td>{{usuario.cedula|titlecase}}</td>
                <td>{{usuario.roles|titlecase}}</td>
                <td>
                    <button mat-icon-button (click)="EditarDirectivo(usuario)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="DeleteRow(usuario)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>-->
<div style="padding: 20px 30px;">
    <div>
        <button mat-raised-button color="primary" style="text-align: center;" (click)="OpenDialog()">
            <mat-icon>add</mat-icon> Nuevo Directivo
        </button>
        <mat-form-field style="width: 20%; margin-left: 65%;">
            <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">search</mat-icon>            
            <input matInput placeholder="Búsqueda Usuario" (keyup)="applyFilter($event)">
        </mat-form-field>
    </div>
</div>
<div class="table-content">
    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">No.</th>
                <td mat-cell *matCellDef="let element; index as i ">
                    {{i+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">Nombres</th>
                <td mat-cell *matCellDef="let element">
                    {{element.nombres | titlecase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">Nombres</th>
                <td mat-cell *matCellDef="let element">
                    {{element.apellidos | titlecase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">Email</th>
                <td mat-cell *matCellDef="let element">
                    {{element.email}}
                </td>
            </ng-container>  
            <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">Cédula</th>
                <td mat-cell *matCellDef="let element">
                    {{element.cedula}}
                </td>
            </ng-container>
            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">Cargo</th>
                <td mat-cell *matCellDef="let element">
                    {{element.roles}}
                </td>
            </ng-container>
            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">Acción</th>
                <td mat-cell *matCellDef="let element">
                    
                    <button mat-icon-button (click)="OnEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnDelete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>