<!--<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Directivos">
        <app-registroD></app-registroD>
    </mat-tab>
    <mat-tab label="Presidentes">
        <app-registrop></app-registrop>
    </mat-tab>
    <mat-tab label="Instituciones">
        <app-registroinstitucion></app-registroinstitucion>
    </mat-tab>
    <mat-tab label="Rectores-Secretarios">
        <app-registrorectorsecre></app-registrorectorsecre>
    </mat-tab>
</mat-tab-group>-->
<div class="btnGroup" mat-align-tabs="center">
    <button class="button" routerLink="/registroD">Directivos</button>
    <button class="button" routerLink="/registrop">Presidentes</button>
    <button class="button" routerLink="/registroinstitucion">Instituciones</button>
    <button class="button"  routerLink="/registrorectorsecre">Rectores-Secretarios</button>
    <hr style="border-color: rgba(72, 59, 219, 0.466);">
</div>
