.full-width {
    width: 100%;
  }
.full{
    width: 40%;
}
.full-nombres{
    width: 45%;
    margin-left: 2%;
}
.oracion{
    text-transform: capitalize;
}
.mayusculas{
  text-transform: uppercase;
}