<div _ngcontent-cib-c1 class="login-div" style="text-align: center">
    <h1> Editar Institución Educativa</h1>
    <form [formGroup]="editariForm" (ngSubmit)="OnSaveInsti(editariForm.value)">
        <input type="hidden" formControlName="idInstitucion">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Código AMIE</mat-label>
            <input matInput type="text" class="mayusculas" placeholder="Ingrese código AMIE"
                formControlName="codigoAMIE" maxlength="8">
            <mat-hint align="start"><strong>*digite 8 caracteres</strong> </mat-hint>
            <mat-error *ngIf="editariForm.invalid" style="font-size: 10px ;">{{msgValidateCodigoAMIE()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de Institución</mat-label>
            <input matInput type="text" class="mayusculas" placeholder="Ingrese nombre de institución"
                formControlName="nomInstitucion">
            <mat-error *ngIf="editariForm.invalid" style="font-size: 10px ;">{{msgValidateNombre()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>--Seleccione Provincia--</mat-label>
            <mat-select formControlName="nomProvincia">
                <mat-option *ngFor="let provincia of provincias" value={{provincia.nomProvincia}}>
                    {{provincia.nomProvincia}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="editariForm.get('nomProvincia')?.hasError('required')" style="font-size: 10px ;">
                Seleccione la provincia</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="btnIngresar" color="primary"
            [disabled]="editariForm.invalid">Guardar</button>
        <button mat-raised-button color="warn" style="margin-left: 20px;" mat-dialog-close="">Cancelar</button>
    </form>
</div>