<app-tabsrec></app-tabsrec>
<mat-card class="total">
    Instituciones Educativas
    <br>
    <mat-divider></mat-divider>
    <br>
    <div style="text-align:center;">
        {{totalInstituciones}}
    </div>
</mat-card>
<mat-card class="total">
    Estudiantes
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantes}}
    </div>
   
</mat-card>
<mat-card class="total">
    Estudiantes Hombres
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantesHombres}}
    </div>
   
</mat-card>
<mat-card class="total">
    Estudiantes Mujeres
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantesMujeres}}
    </div>
   
</mat-card>
<mat-card class="total">
    Estudiantes Sierra
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantesSierra}}
    </div>
   
</mat-card>
<mat-card class="total">
    Estudiantes Costa
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantesCosta}}
    </div>
   
</mat-card>
<mat-card class="total">
    Estudiantes Amazonía
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantesAmazonia}}
    </div>   
</mat-card>

<mat-card class="total">
    Estudiantes Insular
    <mat-divider></mat-divider>
    <div style="text-align:center;">
        {{totalEstudiantesInsular}}
    </div>   
</mat-card>
