<app-tabs-directivo></app-tabs-directivo>
<div style="padding: 20px 30px;">
    <div>
        <mat-form-field style="width: 20%; margin-left: 65%;">
            <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">search</mat-icon>
            <input matInput placeholder="Búsqueda Representante" (keyup)="applyFilter($event)">
        </mat-form-field>
    </div>
</div>
<div class="table-content">
    <div class="table-container mat-elevation-z8">
        
            

        <table mat-table [dataSource]="dataSourceNiveles" class="mat-elevation-z8">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;text-align: center;">
                    No.</th>
                <td mat-cell *matCellDef="let element; index as i" style="text-align: center;">
                    {{i+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nomInstitucion">
                <th mat-header-cell *matHeaderCellDef
                    style="font-weight: bold; font-size: small; text-align: center;">
                    Niveles</th>
                <td mat-cell *matCellDef="let element">
                    {{element.nomInstitucion}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nomNivelEducacion">
                <th mat-header-cell *matHeaderCellDef
                    style="font-weight: bold; font-size: small; text-align: center;">
                    Niveles</th>
                <td mat-cell *matCellDef="let element">
                    {{element.nomNivelEducacion}}
                </td>
            </ng-container>
            <ng-container matColumnDef="hombres">
                <th mat-header-cell *matHeaderCellDef
                    style="font-weight: bold; font-size: small; text-align: center;">
                    Hombres</th>
                <td mat-cell *matCellDef="let element">
                    {{element.hombres }}
                </td>
            </ng-container>
            <ng-container matColumnDef="mujeres">
                <th mat-header-cell *matHeaderCellDef
                    style="font-weight: bold; font-size: small; text-align: center;">
                    Mujeres</th>
                <td mat-cell *matCellDef="let element">
                    {{element.mujeres}}
                </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef
                    style="font-weight: bold; font-size: small; text-align: center;">
                    Total</th>
                <td mat-cell *matCellDef="let element">
                    {{element.total}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsNiveles"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNiveles;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>