<div _ngcontent-cib-c1 class="form-group" style="text-align: center">
    <h1> Editar Directivo</h1>
    <form [formGroup]="editardForm" (ngSubmit)="OnSaveUsuario(editardForm.value)">
        <input type="hidden" formControlName="uid">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input class="oracion" matInput type="text" placeholder="Ingrese Nombres" formControlName="nombres">
            <mat-error *ngIf="editardForm.invalid" style="font-size: 10px ;">{{msgValidateNombre()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input class="oracion" matInput type="text" placeholder="Ingrese Apellidos" formControlName="apellidos">
            <mat-error *ngIf="editardForm.invalid" style="font-size: 10px ;">{{msgValidateApellido()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" placeholder="Ingrese correo electrónico" formControlName="email"
                readonly="true">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cédula</mat-label>
            <input matInput placeholder="Ingrese Cédula" formControlName="cedula" maxlength="10">
            <mat-hint align="start"><strong>*digite 10 caracteres</strong> </mat-hint>
            <mat-error *ngIf="editardForm.invalid" style="font-size: 10px ;">{{msgValidateCedula()}}</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button class="btnIngresar" color="primary" [disabled]="editardForm.invalid"
            type="submit">Guardar</button>
        <button mat-raised-button color="warn" mat-dialog-close="" style="margin-left: 20px;">Cancelar</button>
    </form>
</div>