.full-width {
    width: 80%;
  }
  .admin-card {
    width: 35%;
    margin: auto;
    border: rgb(232, 229, 241);
    border-style: solid;
    }
  .lb{
    color: rgb(41, 17, 124);
    font-weight: bolder;
    font-size: large;
  }

h3{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: block;
    font-size: 1.14em;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    
}