<br>
<br>
<mat-card class="admin-card">
  <div style="text-align: center">
    <label class="lb">Restablecer Contraseña</label>
    <br><br>
    <h4>Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña:
    </h4>
    <mat-form-field class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">email</mat-icon>
      <input matInput type="email" placeholder="Correo electrónico" #passwordResetEmail required>
    </mat-form-field>
    <br><br>
    <button mat-raised-button class="btn btnPrimary" color="primary" value="Reset Password"
      (click)="ResetearClave(passwordResetEmail.value)">Restablecer Contraseña</button>
    <br><br>
    <span>¿Ir a la página de inicio ? <a routerLink="/login">Log In</a></span>
  </div>
</mat-card>