<br _ngcontent-cib-c1>
<br _ngcontent-cib-c1>
<mat-card class="admin-card">
  <div  style="text-align: center">
    <label class="lb">Restablecer Contraseña</label>
    <br _ngcontent-cib-c1=""><br _ngcontent-cib-c1="">
    
    <h3 _ngcontent-aqx-c7>Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña:
    </h3>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">email</mat-icon>
      <input matInput type="email" placeholder="Correo electrónico" #passwordResetEmail required>
    </mat-form-field>
    <br _ngcontent-cib-c1=""><br _ngcontent-cib-c1="">
    <button mat-raised-button class="btn btnPrimary" color="primary" value="Reset Password"
      (click)="authService.OlvidarClave(passwordResetEmail.value)">Restablecer Contraseña</button>
    <!-- Calling ForgotPassword from AuthService Api -->
    <!--<div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.OlvidarClave(passwordResetEmail.value)">
        </div>-->
    <br _ngcontent-cib-c1=""><br _ngcontent-cib-c1="">
    <span>¿Ir a la página de inicio ? <a routerLink="/login">Log In</a></span>
  </div>
</mat-card>