<app-tabs *ngIf="activar"></app-tabs>
<div class="div-button" *ngIf="activar">
    <button mat-raised-button color="primary" style="text-align: center;" (click)="OpenDialogi()">
        <mat-icon>add</mat-icon> Nueva Institución
    </button>
    <mat-form-field class="buscar">
        <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">search</mat-icon>
        <input matInput placeholder="Búsqueda Institución" (keyup)="applyFilter($event)">
    </mat-form-field>
</div>
<div class="table-content" *ngIf="activar">
    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef class="celda-th mat-column-numero">No.</th>
                <td mat-cell *matCellDef="let element; index as i">
                    {{i+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="codigoAMIE">
                <th mat-header-cell *matHeaderCellDef class="celda-th">Código AMIE
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.codigoAMIE |uppercase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nomInstitucion">
                <th mat-header-cell *matHeaderCellDef class="celda-th" style="width: 40%;">Nombre de Institución</th>
                <td mat-cell *matCellDef="let element">
                    {{element.nomInstitucion | titlecase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nomProvincia">
                <th mat-header-cell *matHeaderCellDef class="celda-th">Provincia</th>
                <td mat-cell *matCellDef="let element">
                    {{element.nomProvincia}}
                </td>
            </ng-container>
            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef class="celda-th mat-column-accion">Acción</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="OnEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnDelete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
    <br>
</div>