.oracion{
    text-transform: capitalize;
}
table {  
    width: 100%;
  }
  .table-content {
    padding-left: 3%;
    padding-right: 2%;
  }
  .table-container { 
    width: 98%;
  }
  
  .mat-elevation-z8 {
    /*padding: 10px 20px;*/
    align-items: center;
  }
  
  .table-container {
    width: 98%;
  }
  .mat-header-cell {
    text-align: center;
    align-items: center;
  }
  
  .mat-cell {
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
  }
  .mat-column-numero {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 4% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
  }
  
  .mat-column-accion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 11% !important;
    width: 11% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
  }
  .mat-dialog-container {
    width: 50% !important;
    height: 85% !important;
    top: 5% !important;
  }