<div _ngcontent-cib-c1 class="login-div" style="text-align: center">
    <h1> Registrar Representante</h1>

    <form [formGroup]="registroRepresentanteForm">
        <input type="hidden" formControlName="uid">
        <input type="hidden" formControlName="idInstitucion">
        <input type="hidden" formControlName="nomInstitucion">
        <br>
        <mat-form-field class="width-prefijo oracion">
            <mat-label>Prefijo</mat-label>
            <input matInput type="text" placeholder="Abreviatura" [(ngModel)]="datosRepresentante.prefijo" #prefijo
                formControlName="prefijo">
            <mat-hint align="start"><strong>*Sra Sr Mg Ing etc...</strong> </mat-hint>
            <mat-error *ngIf="registroRepresentanteForm.invalid" style="font-size: 10px ;">{{msgValidatePrefijo()}}
            </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="full-nombres oracion">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" placeholder="Nombres del Representante" [(ngModel)]="datosRepresentante.nombres"
                #nombres formControlName="nombres">
            <mat-error *ngIf="registroRepresentanteForm.invalid">{{msgValidateNombres()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-nombres oracion">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" placeholder="Apellidos del Representante"
                [(ngModel)]="datosRepresentante.apellidos" #apellidos formControlName="apellidos">
            <mat-error *ngIf="registroRepresentanteForm.invalid">{{msgValidateApellidos()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-nombres oracion">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="text" placeholder="Correo electrónico" [(ngModel)]="datosRepresentante.email" #email
                formControlName="email">
            <mat-error *ngIf="registroRepresentanteForm.invalid">{{msgValidateEmail()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-nombres oracion">
            <mat-label>--Seleccione Cargo--</mat-label>
            <mat-select [(ngModel)]="datosRepresentante.cargo" #cargo formControlName="cargo">
                <mat-option *ngFor="let cargo of cargoList" value={{cargo}}>
                    {{cargo}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registroRepresentanteForm.invalid">{{msgValidateCargo()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-nombres">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" placeholder="Teléfono del Representante"
                [(ngModel)]="datosRepresentante.telefono" #telefono formControlName="telefono" minlength="7" maxlength="10">
            <mat-error *ngIf="registroRepresentanteForm.invalid">Formato Incorrecto
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-nombres">
            <mat-label>Celular</mat-label>
            <input matInput type="text" placeholder="Celular del Representante" [(ngModel)]="datosRepresentante.celular"
                #email formControlName="celular" minlength="7" maxlength="10">
            <mat-error *ngIf="registroRepresentanteForm.invalid">Formato Incorrecto
            </mat-error>
        </mat-form-field>

        <br>
        <br><br>
        <br>
        <button mat-raised-button type="submit" class="btnIngresar" color="primary"
            [disabled]="registroRepresentanteForm.invalid" (click)="CrearRepresentante()">Guardar</button>
        <button mat-raised-button color="warn" style="margin-left: 20px;" mat-dialog-close="">Cancelar</button>
    </form>
</div>