<app-tabpresi *ngIf="activar"></app-tabpresi>
<br>
<div class="table-content" *ngIf="activar">
    <div class="table-container mat-elevation-z8">
        <div class="div-header">
            <div class="div-button">
                <button mat-raised-button icon="pi pi-file-excel"
                    (click)="exporter.exportTable('xlsx', {fileName:'representantes', sheet: 'lista_representantes', Props: {Author: 'CONFEDEC'}})">
                    <i class="fa-solid fa-file-excel fa-lg"></i>
                    &nbsp;&nbsp; Exportar</button>
            </div>
            <div class="div-buscar">
                <mat-form-field class="form-field">
                    <mat-icon matSuffix aria-hidden="false" aria-label="Example email icon">search</mat-icon>
                    <input matInput placeholder="Búsqueda Representantes" (keyup)="applyFilter($event)">
                </mat-form-field>
            </div>
        </div>
        <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter"
            class="mat-elevation-z8">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small;">No.</th>
                <td mat-cell *matCellDef="let element; index as i">
                    {{i+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nomInstitucion">
                <th mat-header-cell *matHeaderCellDef class="celda-th" style="width: 15%;">
                    Institución
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.nomInstitucion | titlecase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="prefijo">
                <th mat-header-cell *matHeaderCellDef class="celda-th" style="width: 10%;">Prefijo
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.prefijo | titlecase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef class="celda-th" style="width: 12%;">Nombres
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.nombres}}
                </td>
            </ng-container>
            <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef class="celda-th" style="width: 12%;">Apellidos
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.apellidos | titlecase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef class="celda-th">Cargo</th>
                <td mat-cell *matCellDef="let element">
                    {{element.cargo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="celda-th" style="width: 10%;">Email
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.email}}
                </td>
            </ng-container>
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef class="celda-th">Teléfono</th>
                <td mat-cell *matCellDef="let element">
                    {{element.telefono}}
                </td>
            </ng-container>
            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef class="celda-th">Celular</th>
                <td mat-cell *matCellDef="let element">
                    {{element.celular}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nomProvincia">
                <th mat-header-cell *matHeaderCellDef class="celda-th">Provincia</th>
                <td mat-cell *matCellDef="let element">
                    {{element.nomProvincia}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>