<app-tabsrec *ngIf="activar"></app-tabsrec>
<div *ngIf="activar">
    <form [formGroup]="editarInstitucionForm">
        <input type="hidden" formControlName="idInstitucion">
        <div class="card-inicio">
            <mat-card class="card-unico">
                <br>
                <br>
                <mat-form-field *ngIf="infoInstitucion">
                    <mat-label>Código AMIE</mat-label>
                    <input matInput formControlName="codigoAMIE" readonly="true" class="mayusculas">
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                <mat-form-field class="full-width left">
                    <mat-label>Nombre de Institución</mat-label>
                    <input matInput type="text" class="mayusculas" placeholder="Ingrese nombre de institución"
                        formControlName="nomInstitucion">
                 
                </mat-form-field>

            </mat-card>

            <div class="card-imagen">
                <div class="avatar-subir">
                    <div class="avatar-editar">
                        <input type='file' id="imageUpload" accept="image/*" name="file" #fileInput
                            (change)="SubirArchivo($event)" />
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ photoUrl +')'">
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="button" class="btn-image" (click)="fileInput.click()">Subir
                    Imagen</button>
            </div>
        </div>

        <mat-card class="card-ubicacion">
            <mat-label style="font-weight: bold;">Ubicación Política Administrativa</mat-label>
            <br>
            <br>
            <mat-form-field class="provincia-width">
                <mat-label>Provincia</mat-label>
                <input matInput type="text" formControlName="nomProvincia" readonly="true">
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="direccion-width">
                <mat-label>Dirección de Institución</mat-label>
                <input matInput type="text" class="mayusculas" placeholder="Ingrese direccion de institución"
                    style="text-align: center;" formControlName="direccionInstitucion">
              
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="provincia-width">
                <mat-label>Tipo de Educación</mat-label>
                <mat-select formControlName="tipoEducacio">
                    <mat-option *ngFor="let tipo of tipoEducacion" [value]=tipo.nomTipoEducacion>
                        {{tipo.nomTipoEducacion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="sostenimiento-width">
                <mat-label>Sostenimiento</mat-label>
                <mat-select formControlName="sostenimiento">
                    <mat-option *ngFor="let sostenimiento of sostenimientos" [value]=sostenimiento.nomSostenimeinto>
                        {{sostenimiento.nomSostenimeinto}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="provincia-width">
                <mat-label>Zona INEC</mat-label>
                <mat-select formControlName="zonaInec">
                    <mat-option *ngFor="let zonaInec of zonasInec" [value]=zonaInec.nomZonaInec>
                        {{zonaInec.nomZonaInec}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="provincia-width">
                <mat-label>Jurisdicción</mat-label>
                <mat-select formControlName="jurisdiccion">
                    <mat-option *ngFor="let jurisdiccion of jurisdicciones" [value]=jurisdiccion.nomJurisdiccion>
                        {{jurisdiccion.nomJurisdiccion}}
                    </mat-option>
                </mat-select>
    
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="provincia-width">
                <mat-label>Inmueble Edificio</mat-label>
                <mat-select #tenenciaEdificio formControlName="tenenciaEdificio">
                    <mat-option *ngFor="let inmueble of inmuebleEdi" [value]=inmueble.nomInmueble>
                        {{inmueble.nomInmueble}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </mat-card>
        <br>
        <mat-card class="card-generales">
            <mat-label style="font-weight: bold;">Datos Generales</mat-label>
            <br>
            <div class="datos-generales">
                <div class="card-general">
                    <mat-toolbar color="primary" class="tool-nivel">
                        <mat-card-subtitle class="text-color">Nivel de Educación
                        </mat-card-subtitle>
                    </mat-toolbar>
                    <br>
                    <mat-form-field class="nivel" appearance="outline">
                        <mat-select formControlName="nivelEducacion" placeholder="Nivel de educacion"
                            (ngModelChange)="NivelEducacionVal($event)" multiple size="5">
                            <mat-optgroup *ngFor="let group of nivelesEducacion" [disabled]="group.disabled">
                                {{group.nombre}}
                                <mat-option *ngFor="let nivel of group.nivel" [value]="nivel.id">
                                    {{nivel.nomNivelEducacion}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="card-jornada">
                    <mat-toolbar color="primary" style="height:30px" class="tool-modalidad">
                        <mat-card-subtitle id="example-radio-group-label" class="text-color">Jornada
                        </mat-card-subtitle>
                    </mat-toolbar>
                    <br>
                    <mat-form-field class="nivel-width" appearance="outline">
                        <mat-select (ngModelChange)="JornadaVal($event)" formControlName="jornada" multiple size="3">
                            <mat-option class="example-margin" *ngFor="let jornadaI of jornadas"
                                [value]=jornadaI.nomJornada>
                                {{jornadaI.nomJornada}} &nbsp;
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="card-modalidad">
                    <mat-toolbar color="primary" style="height:30px" class="tool-modalidad">
                        <mat-card-subtitle class="text-color">Modalidad
                        </mat-card-subtitle>
                    </mat-toolbar>
                    <br>
                    <mat-form-field class="nivel-width" appearance="outline">
                        <mat-select (ngModelChange)="ModalidadVal($event)" multiple size="4"
                            formControlName="modalidad">
                            <mat-option class="example-margin" *ngFor="let modalidadI of modalidades"
                                [value]=modalidadI.nomModalidad>
                                {{modalidadI.nomModalidad}} &nbsp;
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <br>
            <br>
        </mat-card>

        <div style="text-align: center">
            <button mat-raised-button class="btnIngresar" color="primary" type="submit"
                (click)="OnSaveInsti(editarInstitucionForm.value)">
                <mat-icon>save</mat-icon>
                Guardar Cambios
            </button>
        </div>
        <br>
    </form>
</div>