<div>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>¿Esta seguro de eliminar el registro? </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="form-container" style="text-align: center;padding-top:20px;">
    <div style="text-align: center;">
      <button mat-raised-button color="primary" type="button" (click)="DeleteUsuario()">Aceptar</button>&nbsp;
      <button mat-raised-button color="basic" type="button" (click)="Close()">Cancelar</button>
    </div>
</div>
